/* utile pour éviter surprises avec padding */
* { box-sizing: border-box; }

/* body déjà centré */
body {
  font-family: Arial, sans-serif;
  color: antiquewhite;
  background-color: rgba(29, 4, 8, 0.859);
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

header{
    text-align: center;
}

p{
text-align: justify;
}


.centre {
  width: 80%;
  background-color: rgba(222, 184, 135, 0);
}


iframe {
  width: 100%;
  height: 80vh;
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
